.resume-main {
    width: 55vw;
    min-width: 1160px;
}

.resume-card-width {
    width: calc(100% - 70px);;
}

.resume-card-height {
    height: calc(100% - 70px);
}

.resume-full-card {
    @extend .resume-card-height;
    @extend .resume-card-width;
}

.resume-list {
    margin-top: 0;
}
