<div class="app-centered resume-main">
    <mat-grid-list cols="10" rowHeight="50px">
        <mat-grid-tile *ngFor="let card of resumeInfo" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card class="app-font resume-full-card">
                <mat-card-title class="app-font-title">{{ card.title }}</mat-card-title>
                <mat-card-content>
                    <span *ngIf="card?.subtitle" class="float-right">{{ card.subtitle }}</span>
                    <ng-container *ngFor="let content of card.content">
                        <p>
                            <span *ngIf="content.bold" class="app-font-title">{{ content.bold }} </span>
                            <span *ngIf="content.bold && content.italic">&mdash; </span>
                            <span *ngIf="content.italic"><em>{{ content.italic }}</em></span>
                            <span *ngIf="content.date" class="float-right">{{ content.date }}</span>
                            <ng-container *ngIf="content.bullets">
                                <ul class="resume-list">
                                    <li *ngFor="let bullet of content.bullets">{{ bullet }}</li>
                                </ul>
                            </ng-container>
                        </p>
                    </ng-container>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
