/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', "Helvetica Neue", sans-serif;
}

.app-font {
    font-family: 'Montserrat', "Helvetica Neue", sans-serif;
}

.app-font-bold {
    @extend .app-font;
    font-weight: bold;
}

.app-font-title {
    @extend .app-font;
    font-weight: 500;
}


.app-font-lightest {
    @extend .app-font;
    font-weight: 100;
}

.app-font-light {
    @extend .app-font;
    font-weight: 300;
}

%app-position-base {
    position: fixed;
}

.app-center-vertical {
    @extend %app-position-base;
    top: 50%;
    transform: translateY(-50%);
}

.app-center-horizontal {
    @extend %app-position-base;
    left: 50%;
    transform: translateX(-50%);
}

.app-centered {
    @extend .app-center-horizontal;
    @extend .app-center-vertical;
    transform: translate(-50%, -50%);
}

.app-text-center {
    text-align: center;
}

.app-background {
    width: 100%;
    height: 100%;
    background: no-repeat center center fixed;
    background-size: cover;
    background-position: center top;
}

.app-text-shadow-large {
    text-shadow: 0 0 20px black;
}

.app-text-shadow {
    text-shadow: 0 0 10px black;
}

.no-style-link {
    color: inherit;
    text-decoration: none;
}

.float-right {
    float: right;
}
