<app-toolbar [(open)]="open"></app-toolbar>
<mat-sidenav-container hasBackdrop="false" class="app-fullscreen">
    <mat-sidenav-content>
        <div class="app-background" [ngStyle]="{'background-image': backgroundImg}">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

    <mat-sidenav mode="over" position="end" [(opened)]="open" class="app-sidenav">
        <app-sidebar-content></app-sidebar-content>
    </mat-sidenav>
</mat-sidenav-container>
