.sidebar-content {
    color: white;
    width: 15vw;
}

.sidebar-header {
    margin-bottom: 0.25em;
}

.sidebar-header-following {
    @extend .sidebar-header;
    padding-top: 0.5em;
}

.sidebar-entry {
    margin-left: 2em;
    font-size: 1.25em;
    margin-bottom: .75em;
}

.sidebar-svg {
    margin-right: 0.3em;
}

%base-icon {
    vertical-align: sub;
}

%svg-icon {
    @extend %base-icon;
    height: 1.15em;
    width: 1.15em;
}

.sidebar-icon-gitlab {
    @extend %svg-icon;
}

.sidebar-icon-github {
    @extend %svg-icon;
}

.sidebar-icon-mat {
    @extend %base-icon;
    transform: translateX(-10%);
}
