<div class="sidebar-content">
    <h1 class="app-font-light app-text-center sidebar-header">Projects</h1>
    <app-separator></app-separator>
    <div>
        <a href="https://gitlab.com/fractal_159" class="no-style-link" target="_blank">
            <div class="app-font-light sidebar-entry">
                <svg-icon src="assets/img/icons/gitlab.svg" svgClass="sidebar-icon-gitlab" class="sidebar-svg">
                </svg-icon>
                GitLab
            </div>
        </a>
    </div>
    <div>
        <a href="https://github.com/clmitchell-159" class="no-style-link" target="_blank">
            <div class="app-font-light sidebar-entry">
                <svg-icon src="assets/img/icons/github.svg" svgClass="sidebar-icon-github" class="sidebar-svg">
                </svg-icon>
                GitHub
            </div>
        </a>
    </div>
    <h1 class="app-font-light app-text-center sidebar-header-following">Resume</h1>
    <app-separator></app-separator>
    <div>
        <a [routerLink]="['/resume']" class="no-style-link">
            <div class="app-font-light sidebar-entry">
                <mat-icon class="sidebar-icon-mat">description</mat-icon>
                <!-- <svg-icon src="assets/img/icons/github.svg" svgClass="sidebar-icon-github" class="sidebar-svg">
                </svg-icon> -->
                View Online
            </div>
        </a>
    </div>
    <div>
        <a href="/assets/doc/resume.pdf" class="no-style-link" download="Chandler_Mitchell_Resume.pdf">
            <div class="app-font-light sidebar-entry">
                <mat-icon class="sidebar-icon-mat">download</mat-icon>
                <!-- <svg-icon src="assets/img/icons/github.svg" svgClass="sidebar-icon-github" class="sidebar-svg">
                </svg-icon> -->
                Download PDF
            </div>
        </a>
    </div>
</div>
