<mat-toolbar
    [ngClass]="{ 'toolbar-transparent' : !scrolled, 'toolbar-scrolled': scrolled, 'toolbar-top': !initial && top }"
    color="primary" class="toolbar-sticky">
    <span class="toolbar-spacer-left"></span>
    <a [routerLink]="['/home']" class="no-style-link"><span class="app-font app-text-shadow">Chandler
            Mitchell</span></a>
    <span class="toolbar-spacer-center"></span>
    <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-spacer-right"></span>
</mat-toolbar>
