.toolbar-spacer-left {
    flex: 1 1 auto;
}

.toolbar-spacer-center {
    flex: 8 8 auto;
}

.toolbar-spacer-right {
    flex: 0.25 0.25 auto;
}

.toolbar-transparent {
    background-color: rgba(0, 0, 0, 0.384);
}

.toolbar-scrolled {
    background-color: rgba(0, 0, 0, 0.384);
    transition: background-color 0.5s;
}

.toolbar-top {
    background-color: rgba(0, 0, 0, 0.75);
    transition: background-color 0.5s;
}

.toolbar-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
