<div class="not-found-title app-centered">
    <h1 class="app-font-title app-text-shadow-large">404</h1>
    <h3 class="app-font-light app-text-shadow">The page you requested was not found</h3>
</div>
